
/* Whole S3 simplechart instance of 1 call of shortcode */
.svgtable
{
	background-color:#E6E6FA; 
	border:4px ridge navy;
	margin:10px;
}

/* SVG chart itself */
.svgchart
{
	padding:10px;
}

/* Main title of chart */
.titletext h3
{
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	color: navy;
	font-size: 14px;
	text-shadow: 2px 2px darkgray;
}

/* Caption below chart */
.captiontext
{
	text-align:center; 
	font-size: 10px;
}

/* One graphical segment of each data point on charts */
.bar
{
	fill:black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	stroke-width: 0.4;
	stroke: gray;
}

/* Segments of just area chart, overruling above if needed */
.areabar
{
	stroke-width: 0.2;
	stroke: black;
}

/* Chart area */
.chart
{
	stroke: gray;
	stroke-width: 0.2;
}

/* Both axis all visual elements */
.axis
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
}

/* X-axis tick labels */
.x
{
}
/* Y-axis tick labels */
.y
{
}

/* X-axis title */
.xtitle
{
	font-weight:bold;
}
/* Y-axis title */
.ytitle
{
	font-weight:bold;
}

/* Tick lines of chart */
.tick
{
}

/* Axis labels: majors */
.major
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
	fill: black;
	margin: 2px;
}

/* Domain of chart */
.domain
{
}
/* All buttons outlook */
.buttons 
{
	background-color:darkgray;
	float:right;
}

/* Tooltip definitions */
.ISO-3166-1 {
	//color: transparent;
	font-size: 1.0em;
}

div.iputooltip {
	font: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.0;
	color: Black;
    position: absolute;
    padding: 5px 10px 5px 10px;
    background: #ffffcc; // #faf8ba;
    border-radius: 8px;
	box-shadow: 4px 4px 2px gray;
}

div.iputooltip span.label {
	display: inline-block;
	width: 40%;
	margin-right: 10px;
	font-weight: bold;
}

/* Basic primitives of SVG */

svg
{
	background-color:#FFFFFF;
	padding:4px;
	border:2px ridge navy;
}
text
{
}
g
{
}
rect
{
}
path
{
}
line
{
}
